<div class="row">
  <div class="col-md-8 col-md-offset-2">
	<div><%= @user.first_name %> <%= @user.last_name %></div>
	<div><%= @user.email %></div>
	<div><%= @user.address_text %></div>  </div>
  <div class="col-md-2"></div>
</div>
