<h1>Team Map</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div><input id="searchTextField" type="text" size="50" placeholder="Address" /> <input id="quickSubmit" type="button" value="submit" /></div>

<div id="googleMap" style="width:500px;height:380px;"></div>