<h1>Team Map</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div id="googleMap" style="width:500px;height:380px;"></div>

<% @users.each do |user| %>
  <script>ParseCoords('<%= user.address_coords %>');</script>
<% end %>
