// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
	height: auto !important;
}

.users_form {
	label {
		display: none;
	}
	
	.emptyVal {
		color: #919191;
		font-style: italic;
	}
	
	#searchTextField {
		color: currentcolor;
	}
	
	.btn {
		border-radius: 5px;
		padding: 8px;
	}
}